<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/style_user.css">
    <script src="../js/functions_user.js"></script>
    <title>Medical Advice</title>
</head>

<body>
<header>
    Medical Advice
</header>

<aside>

    <button id="go_home" onclick="goHome()">Go home</button>

    <button id="logout_button" onclick="logOut()">Log out</button>

</aside>


<div id="content">
    <div  id="content_holder">
        <table id="tabel">

            <tr>
                <td colspan="3" class="descriere">Istoricul cautarilor</td>
            </tr>

            <tr>
                <td class="descriere">Data cautare</td>
                <td class="descriere">Simptome intorduse</td>
                <td class="descriere">Boli posibile</td>
            </tr>


            <tr>
                <td class="data">data</td>
                <td class="simptome">simptomea wsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gew</td>
                <td class="boli">boli</td>
            </tr>

            <tr>
                <td class="data">data2</td>
                <td class="simptome">simptome2</td>
                <td class="boli">boli2</td>
            </tr>
            <tr>
                <td class="data">data</td>
                <td class="simptome">simptomea wsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gew</td>
                <td class="boli">boli</td>
            </tr>

            <tr>
                <td class="data">data2</td>
                <td class="simptome">simptome2</td>
                <td class="boli">boli2</td>
            </tr>
            <tr>
                <td class="data">data</td>
                <td class="simptome">simptomea wsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gew</td>
                <td class="boli">boli</td>
            </tr>

            <tr>
                <td class="data">data2</td>
                <td class="simptome">simptome2</td>
                <td class="boli">boli2</td>
            </tr>
            <tr>
                <td class="data">data</td>
                <td class="simptome">simptomea wsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gew</td>
                <td class="boli">boli</td>
            </tr>

            <tr>
                <td class="data">data2</td>
                <td class="simptome">simptome2</td>
                <td class="boli">boli2</td>
            </tr>
            <tr>
                <td class="data">data</td>
                <td class="simptome">simptomea wsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gewsimptomea wdl whe uigewghewkguaw fkeyfbaeuk fewv gew</td>
                <td class="boli">boli</td>
            </tr>

            <tr>
                <td class="data">data2</td>
                <td class="simptome">simptome2</td>
                <td class="boli">boli2</td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>